@if (isVisible) {
<div
  class="my-modal bg-black bg-opacity-75 position-fixed w-100 h-100 start-0 top-0 end-0 bottom-0 d-flex justify-content-center align-items-center"
  id="modal"
  (click)="handleOverlayClick()"
>
  <div class="container" (click)="$event.stopPropagation()">
    <form [formGroup]="modalForm">
      <div class="form-floating mb-3">
        @let titleForm = modalForm.get('title');
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="Note Title"
          formControlName="title"
          [ngClass]="{
            'is-invalid':
              titleForm?.errors && (titleForm?.touched || titleForm?.dirty),
            'is-valid':
              !titleForm?.errors && !(titleForm?.touched || titleForm?.dirty)
          }"
        />
        <label for="title">Note Title</label>
      </div>

      <div class="form-floating mb-3">
        @let descriptionForm = modalForm.get('description');
        <textarea
          class="form-control"
          id="description"
          placeholder="Note Description"
          formControlName="description"
          [ngClass]="{
            'is-invalid':
              descriptionForm?.errors &&
              (descriptionForm?.touched || descriptionForm?.dirty),
          }"
        ></textarea>

        <label for="description">Note Description</label>
      </div>

      <p class="text-end">
        <span id="remainingCounter">100</span> remaining character
      </p>
      @if (!noteToEdit) {
      <button
        [disabled]="modalForm.invalid"
        class="btn d-block btn-new-task w-100 fw-semibold"
        id="addBtn"
        (click)="addNote()"
      >
        Add Note
      </button>
      }@else {
      <button
        [disabled]="modalForm.invalid"
        class="btn btn-primary w-100 fw-semibold"
        id="updateBtn"
        (click)="updateNote()"
      >
        Update Note
      </button>
      }
    </form>
  </div>
</div>

}
