@if (isVisible) {
<div
  class="my-modal bg-black bg-opacity-75 position-fixed w-100 h-100 start-0 top-0 end-0 bottom-0 d-flex justify-content-center align-items-center"
  id="modal"
  (click)="handleOverlayClick()"
>
  <div class="container" (click)="$event.stopPropagation()">
    <form [formGroup]="modalForm">
      @let titleForm = modalForm.get('title');
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="Note Title"
          formControlName="title"
        />
        <label for="title">Note Title</label>
      </div>
      @if (titleForm?.errors && titleForm?.touched) {
      <p class="alert alert-danger d-none">
        Note Title must be at least 3 characters & not ending with a space
      </p>
      }

      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          id="description"
          placeholder="Note Description"
          formControlName="description"
        ></textarea>

        <label for="description">Note Description</label>
      </div>

      <p class="alert alert-danger d-none">
        Description must contain between 5 and 100 characters
      </p>

      <p class="text-end">
        <span id="remainingCounter">100</span> remaining character
      </p>
      @if (!noteToEdit) {
      <button
        [disabled]="modalForm.invalid"
        class="btn d-block btn-new-task w-100 fw-semibold"
        id="addBtn"
        (click)="addNote()"
      >
        Add Note
      </button>
      }@else {
      <button
        [disabled]="modalForm.invalid"
        class="btn btn-primary w-100 fw-semibold"
        id="updateBtn"
        (click)="updateNote()"
      >
        Update Note
      </button>
      }
    </form>
  </div>
</div>

}
