<main>
  <nav class="my-5">
    <div
      class="container d-flex justify-content-between align-items-center flex-wrap gap-3"
    >
      <h2 class="h5 m-0 fw-bold fs-5 text-uppercase">✨ All of tasks</h2>
      <div class="input-group">
        <label class="input-group-text" id="addon-wrapping" for="searchInput"
          >🩷</label
        >
        <input
          type="text"
          class="form-control w-50"
          placeholder="Seach Tasks...."
          aria-label="search"
          aria-describedby="addon-wrapping"
          id="searchInput"
          list="categories"
        />
      </div>
    </div>
  </nav>

  <button
    id="newTask"
    class="btn btn-new-task mx-auto d-flex align-items-center mb-5 fw-semibold"
    (click)="openModal()"
  >
    <i class="bi bi-file-earmark-plus me-1 fs-5"></i> Add New Task
  </button>

  <div class="container columns pb-5">
    <div class="row g-3 align-items-start">
      <section class="to-do col-md-6 col-lg-4" id="nextUp">
        <div class="content">
          <div
            class="header d-flex justify-content-between align-items-center py-2 px-3"
          >
            <h2 class="m-0 text-uppercase">Next up</h2>
            @if (notes.length > 0) {
            <span id="nextUpCounter">{{ notesCount }}</span>
            }
          </div>
          <div
            class="tasks p-3"
            cdkDropList
            #todoList1="cdkDropList"
            [cdkDropListData]="notes"
            [cdkDropListConnectedTo]="[todoList2, todoList3]"
            (cdkDropListDropped)="drop($event)"
          >
            @for (item of notes; track $index) {
            <div class="task" cdkDrag>
              <h3 class="text-capitalize">{{ item.title }}</h3>
              <p class="description text-capitalize">
                {{ item.description }}
              </p>
              <ul class="task-options list-unstyled d-flex gap-3 fs-5 m-0">
                <li (click)="updateNote(item, item._id)">
                  <i class="fa-regular fa-pen-to-square"></i>
                </li>
                <li (click)="deleteNotes($index, 'notes')">
                  <i class="fa-solid fa-trash-can"></i>
                </li>
                <li><i class="fa-solid fa-palette"></i></li>
              </ul>
            </div>
            }
          </div>
        </div>
      </section>

      <section class="in-progress col-md-6 col-lg-4" id="inProgress">
        <div class="content">
          <div
            class="header d-flex justify-content-between align-items-center py-2 px-3"
          >
            <h2 class="m-0 text-capitalize">In Progress</h2>
            @if (notes.length > 0) {
            <span id="inProgressCounter">{{ inProgressCount }}</span>
            }
          </div>
          <div
            class="tasks p-3"
            cdkDropList
            #todoList2="cdkDropList"
            [cdkDropListData]="inProgress"
            [cdkDropListConnectedTo]="[todoList1, todoList3]"
            (cdkDropListDropped)="drop($event)"
          >
            @for (item of inProgress; track $index) {

            <div class="task" cdkDrag>
              <h3 class="text-capitalize">{{ item.title }}</h3>
              <p class="description text-capitalize">
                {{ item.description }}
              </p>
              <ul class="task-options list-unstyled d-flex gap-3 fs-5 m-0">
                <li (click)="deleteNotes($index, 'inProgress')">
                  <i class="fa-solid fa-trash-can"></i>
                </li>
                <li><i class="fa-solid fa-palette"></i></li>
              </ul>
            </div>
            }
          </div>
        </div>
      </section>

      <section class="done col-md-6 col-lg-4" id="done">
        <div class="content">
          <div
            class="header d-flex justify-content-between align-items-center py-2 px-3"
          >
            <h2 class="m-0 text-capitalize">Done</h2>
            @if (notes.length > 0) {
            <span id="doneCounter">{{ doneCount }}</span>
            }
          </div>
          <div
            class="tasks p-3"
            cdkDropList
            #todoList3="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList1, todoList2]"
            (cdkDropListDropped)="drop($event)"
          >
            @for (item of done; track $index) {

            <div class="task" cdkDrag>
              <h3 class="text-capitalize">{{ item.title }}</h3>
              <p class="description text-capitalize">
                {{ item.description }}
              </p>
              <ul class="task-options list-unstyled d-flex gap-3 fs-5 m-0">
                <li (click)="deleteNotes($index, 'done')">
                  <i class="fa-solid fa-trash-can"></i>
                </li>
                <li><i class="fa-solid fa-palette"></i></li>
              </ul>
            </div>
            }
          </div>
        </div>
      </section>
    </div>
  </div>
</main>

<!-- Modal -->
<app-modal
  [isVisible]="showModal"
  [noteToEdit]="noteBeingEdited"
  (onClose)="closeModal()"
  (noteAdded)="addNewNote($event)"
  (noteUpdated)="handleNoteUpdate($event)"
></app-modal>
